table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
    width: 100%;
  }  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    text-align: center;
    color: #2435ce;
  }
  
  tr:nth-child(even) {
    background-color: #a2e7f0;
  }