/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px; background-color: aquamarine;}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1b1b1;
  height: 100%;
}
    
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;background-color: #f1b1b1;} 
}