<mat-card>
    <h1>Add New Quiz</h1>
   
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="addQuiz()">

                        <mat-form-field class="w100" appearance="outline">
            
                            <mat-label>Title</mat-label>
            
                            <input [(ngModel)]="quizData.title" required type="text" name="title" matInput placeholder="Enter here" />

                        </mat-form-field>

                        <mat-form-field class="w100" appearance="outline">
            
                            <mat-label>Description</mat-label>
            
                            <textarea [(ngModel)]="quizData.description" name="description" matInput placeholder="Enter Category Description" row="15" ></textarea>
            
                        </mat-form-field>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w100" appearance="outline">
            
                                    <mat-label>Maximum Marks</mat-label>
                    
                                    <input [(ngModel)]="quizData.maxMarks"  type="text" name="maxMarks" matInput placeholder="Enter here" />
        
                                </mat-form-field>
        
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w100" appearance="outline">
            
                                    <mat-label>Number Of Questions</mat-label>
                    
                                    <input [(ngModel)]="quizData.numberOfQuestions" type="text" name="numberOfQuestions" matInput placeholder="Enter here" />
        
                                </mat-form-field>
        
                            </div>
                        </div>


                        <mat-slide-toggle
                        name="active"
                        [(ngModel)]="quizData.active"
                            class="mt20"
                            [color]="">
                            Publish Status
                        </mat-slide-toggle>

                        <br>

                        <mat-form-field appearance="fill" class="mt20 w100">
                            <mat-label>Select Category</mat-label>
                            <mat-select  name="category" [(ngModel)]="quizData.category.cid">
                              <mat-option *ngFor="let c of categories" [value]="c.cid">
                                {{c.title}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                        <div class="container text-center mt15">
                            <button type="submit" mat-raised-button color="accent">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>


